.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 1s linear, move infinite 1s, bounce infinite 1s ease-out;
    position: relative;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
    left: 0px;
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes move {
  0% {
    left: 50px;
  }
  50% {
    left: -50px;
  }
  100% {
    left: 50px;
  }
}

@keyframes bounce {
  0% {
    up: 0px;
  }
  50% {
    up: 50px;
  }
  100% {
    up: 0px;
  }
}
